{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="1;URL=https://www.pornhub.com/" />
    <!--<link rel="shortcut icon" href="{%  static 'logo/favicon.ico' %}">-->
</head>
<body>
<p>pornhub.com</p>
</body>
</html>